.UuidGen {
  width: 100%
}

.UuidGen .output {
  padding: 10px 5px;
}

#ClipboardHelper {
  display: none
}


div button:not(:first-of-type) {
  margin-left: 15px
}

#content {
  width: 100%;
  padding: 15px;
  min-height: 100vh;
  transition: all 0.3s;
}
