.HomePage {
  h1 {
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 1.15rem;
    margin-bottom: 20px;
  }

  #logo {margin-bottom: 30px;}

  svg#clouds {
    position: fixed;
    fill-opacity: 25%;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
}