.HomePage {
  #logo {margin-bottom: 30px;}

  width: 100%;

  /* GUID */

  .output {
    padding: 20px 5px 0px;
  }

  .guids {
    font-size: 1.25rem;
  }

  .m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 2000ms, opacity 2000ms;
    padding-left: 5px;
  }

  .m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 2000ms;
    padding-left: 5px;
  }
}