.UuidGen {
  width: 100%
}

.UuidGen .output {
  padding: 20px 5px;
}

#ClipboardHelper {
  display: none
}

div button:not(:first-of-type) {
  margin-left: 15px
}

#content {
  width: 100%;
  padding: 15px;
  min-height: 100vh;
  transition: all 0.3s;
}

header i {
  font-size: 1.25rem;
  padding-right: 0.75rem
}

.three-bars {
  display: none
}

@media (max-width: 768px) {
  .three-bars {display: inline}
}