.input {
  margin: 20px 0;
  width: 100%
}

.output {
  margin-bottom: 10px
}

textarea {
  height: 30vh
}

.buttons {
  margin-bottom: 20px
}

.EncodingPage {
  input[type=radio] {
    margin: 0px 5px 0px 0px;
  }

  label {
    margin-right: 10px
  }
}

