.App {
  color: white;
  display: flex;
  align-items: stretch;
}

#sidebar h3 {
  font-size: 1.2rem
}

#sidebar {
  min-width: 275px;
  max-width: 275px;
  background:#1c2844;
  color: #fff;
  transition: all 0.3s;
  font-size: 0.7rem;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul ul a {
  padding: 40px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar .sidebar-footer {
  padding: 15px
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 10px 5px;
}

#sidebar ul li a {
  padding: 5px 0px 5px 5px;
  font-size: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-left: 5px;
  margin-right: 10px;
}

.closeBtn {
  display: none;
  padding: 10px 30px 0px 15px; 
  font-size: 1.25rem
}

.logo {
  margin: 15px 0px 0px 0px;  
  font-weight: 200;
  color: #007bff;
}

a.logo {
  text-decoration: none;
}

.logo div {
  font-size: 1.25rem;
  padding: 0px 20px;
  color: #e83e8c;
}

@keyframes menuOn {
  from {
    opacity: 0;
  }
  to {

  }
}

@media (max-width: 768px) {
  #sidebar {
      display: none;
      position: absolute;
      height: 100%;
  }

  #sidebar.on {
    display: block;
    animation-name: menuOn;
    animation-duration: 0.5s;
  }

  .closeBtn {
    display: block;
  }
}